.card{
  width: 100%;
  border-radius: .2rem;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.04), 0 11px 6px -7px rgba(0,0,0,0.06);
  border: 1px solid rgba(0,0,0,0.1);
}
.card__header{
  padding: 1rem;
  width: 100%;
  border-bottom: .1rem solid rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.card__header__title{
  font-size: 1.6rem;
  color: #000000;
}
.card__body{
  padding: 1rem;
  width: 100%;
}
