.header{
  height: 7rem;
  width: 100%;
  display: flex;
}
.header__lhs, .header__rhs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header__lhs{
  width: 30rem;
  background: #1A2E43;
}
.header__rhs{
  width: calc(100% - 30rem);
  border-bottom: .1rem solid #ccc;
}
.header__lhs img, .header__rhs__client{
  height: 100%;
}
.header__rhs__logout{
  cursor: pointer;
  font-size: 1.4rem;
}
.header__rhs__logout:hover{
  color: #ff2500;
}
.header__rhs__username{
  padding-right: 2rem;
}
