<div class="list">
  <div class="list__header">
    <div class="list__header__lhs">
      <div class="list__header__lhs__title">List title</div>
      <div class="list__header__lhs__subtitle">showing 1 - 50 of 1m</div>
    </div>
    <div class="list__header__rhs">
      <img class="list__header__rhs__filter" src="assets/icons/in-filter-black.svg" alt="icon" />

      <div class="list__header__rhs__new">
        <img src="assets/icons/in-expand-icon-blue.svg" alt="icon" />
      </div>
    </div>
  </div>

  <app-request-list-item></app-request-list-item>
  <app-request-list-item></app-request-list-item>
  <app-request-list-item></app-request-list-item>
  <app-request-list-item></app-request-list-item>
</div>
